[submodule "forge/lib/forge-std"]
	path = forge/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ens-contracts"]
	path = ens-contracts
	url = git@github.com:ensdomains/ens-contracts.git
[submodule "apps/forge/lib/openzeppelin-contracts"]
	path = apps/forge/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "apps/forge/lib/flare-smart-contracts"]
	path = apps/forge/lib/flare-smart-contracts
	url = https://gitlab.com/flarenetwork/flare-smart-contracts
