.gradient_top {
  position: absolute;

  width: 58rem;
  height: 28rem;
  left: -27.75rem;
  top: -22rem;
  
  background: #F97316;
  opacity: 0.58;
  filter: blur(241px);
}

.gradient_bottom {
  position: absolute;

  width: 91.31rem;
  height: 44rem;
  bottom: -31.125rem;
  left: 22.5rem;

  background: linear-gradient(180deg, #F97316 0%, #F91616 100%);
  opacity: 0.38;
  filter: blur(241px);
}
